@import "../../index";

.FlightStations {
    flex-basis: 600px;

    transition: color 0.15s;

    font-size: 32px;
    font-weight: normal;

    &:hover {
        color: $second-color-hover;
    }
}
