@import "../../index.scss";

.Wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 320px;
    height: 100%;
    min-height: 628px;
}

.Header {
    position: relative;

    display: flex;

    border-bottom: 1px solid #f0f0f0;

    &-Container {
        justify-content: flex-start;

        width: 100%;
        padding: 10px 0;
    }
}

.Content {
    display: flex;
}

.Main-Content {
    flex-direction: column;
}

.Container {
    position: relative;

    display: flex;
    justify-content: center;

    margin: 0 40px;
}

.Footer {
    display: flex;

    &-Container {
        flex-direction: column;
        flex-wrap: wrap;

        width: 100%;
        padding: 25px 0;
    }

    &-Banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.Link {
    color: $second-color;

    &:active {
        opacity: 0.9;
        color: $second-color-hover;
    }

    &:visited {
        opacity: 0.8;
        color: $second-color-hover;
    }

    &:hover {
        color: $second-color-hover;
    }
}
