.nav-link {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0 24px;

    transition: border-bottom 0.3s;

    border-bottom: 1px solid black;
    background-color: #fff;

    &:hover {
        border-bottom: 3px solid rgb(255, 172, 2);
    }
}
