.filter {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.filter__btn {
    cursor: pointer;
    transition: color 0.4s;
    text-decoration: none;

    color: #000;

    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;

    &:hover {
        color: #ffac02;
    }
}
