@import "../../index";

.Search {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 20px;

    &-Text {
        display: flex;

        width: 100%;
        margin-right: 20px;

        border: none;
        border-bottom: 2px solid $first-color-hover;
        outline: none;
    }

    &-Btn {
        padding: 5px 10px;

        transition: background-color 0.15s;

        border: 1px solid $first-color-hover;
        border-radius: 2px;
        background-color: $second-background-color;

        &:hover {
            background-color: $first-color-hover;
        }

        &_marginRight {
            margin-right: 5px;
        }
    }
}
