.Copyright {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    &-Banner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }
}
