.copyright {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.copyright__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
