html {
    font-size: 16px;
}

body,
html {
    height: 100%;
}

body {
    position: relative;

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.42;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

nav,
ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    text-decoration: none;

    border: 0;
    outline: 0;
}

button {
    cursor: pointer;

    border: none;
    outline: none;
    background-color: transparent;
}
